/* Reset browser defaults. */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* Set font size to 10px. Scales if a user changes defaults. */
  // This defines what 1rem is.
  font-size: 62.5%;

  @include respond(tab-land) {
    // width < 1200?
    // 1 rem = 9px
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // width < 900?
    // 1 rem = 8px
    font-size: 50%;
  }

  @include respond(big-desktop) {
    // 1 rem = 12px
    font-size: 75%;
  }
}

body {
  /* Inherit box-sizing. */
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
